.blogs-container {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    gap           : 10px;
    font-size     : 14px;


    .single-blog {
        border       : 1px solid grey;
        border-radius: 3px;
        padding      : 10px;
        margin       : 0 10px;
        max-width    : 400px;

        text-align: left !important;

        .title {
            font-size  : 18px;
            font-weight: 600;
        }

        .content {
            padding: 10px 0;
        }
    }
}