.blogs-container {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    gap           : 10px;
    font-size     : 14px;


    .single-blog {
        border       : 1px solid grey;
        border-radius: 3px;
        padding      : 10px;
        margin       : 0 10px;
        min-width    : 300px;
        max-width    : 400px;
        text-align   : left !important;

        .title {
            font-size  : 18px;
            font-weight: 600;
        }

        .content {
            padding: 10px 0;
        }
    }
}

.blog-detail {
    border       : 1px solid grey;
    padding      : 10px;
    border-radius: 3px;
    margin       : 10px;
    min-height   : 100px;

    .content {
        padding-top: 10px;
    }
}

.btn-add-new {
    margin: 10px 0;
    cursor: pointer;
}

.add-new-container {
    max-width    : 400px;
    border       : 1px solid grey;
    border-radius: 3px;
    padding      : 15px;
    margin       : 0 auto;
    text-align   : left;

    .text-add-new {
        margin    : 10px 0;
        text-align: center;
    }

    .inputs-data {
        padding: 5px;
        margin : 5px;

        display       : flex;
        flex-direction: column;
    }

    button {
        margin-left: 10px;
    }


}